<h2 class="text-align-center">Registration</h2>
<form class="registration-form" [formGroup]="registrationForm" (onSubmit)="onFormSubmit()">
  <div class="app-plate">
    <div>
      <div class="form__control">
        <label for="name" class="form__control__label">Name</label>
        <input
          type="text"
          id="name"
          placeholder="Input text"
          class="form__control__inputField"
          formControlName="name"
        />
      </div>
      <div class="form__control">
        <label for="email" class="form__control__label">Email</label>
        <input
          type="text"
          id="email"
          placeholder="Input text"
          class="form__control__inputField"
          formControlName="email"
        />
      </div>
      <div class="form__control">
          <label for="password" class="form__control__label">Password</label>
          <input
            type="password"
            id="password"
            placeholder="Input text"
            class="form__control__inputField"
            formControlName="password"
          />
        </div>
      <div class="form__action">
        <app-button [text]="registrationTextBtn"></app-button>
      </div>
      <div class="form__text">
        If you have an account you may <strong>Login</strong>
      </div>
    </div>
  </div>
</form>
