.add-new-course {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.add-new-course-btn {
  width: 233px;
  height: 50px;
}

.login-form-container,
.registration-form-container,
.create-course-form-container {
  margin: 0 auto;
}

.login-form-container {
  max-width: 500px;
}

.registration-form-container {
  width: 585px;
}

.create-course-form-container {
  max-width: 1125px;
}

