@import 'src/app/shared/styles/styles';

.create-course-form {
  width: 1125px;
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.course {
 min-width: 60vw;

  &__flex {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    & input {
      flex: 1;
    }

    & app-button {
      margin-left: 16px;
    }

    & .course__duration {
      margin-left: 16px;
    }
  }

  &__authors {
    margin-top: 8px;
    display: flex;

    &-item {
      margin-right: 10px;
    }
  }

  &__icon {
    margin-left: 4px;
    cursor: pointer;
  }
}

#description {
  box-sizing: border-box;
  height: 152px;
  background: #FFFFFF;
  border: 1px solid #CFCFCF;
  border-radius: 4px;
  padding: 13px 16px;
}
